# Servidor e API
Flask==3.0.2
Flask-Cors==4.0.0
apscheduler==3.10.4
pydantic==2.6.4

# Desktop Interface
pywebview==5.0.5

# Processamento de Imagem e OCR
pytesseract==0.3.13
pillow==11.0.0
pdf2image==1.17.0
pdfplumber==0.11.4

# Manipulação de Documentos
python-docx==1.1.0
pandas>=2.2.3
openpyxl==3.1.2
xlrd==2.0.1

# Utilidades
python-dotenv==1.0.1
werkzeug==3.0.1